/* hide "Join a Course" link */
.navigation-menuItem a[href="/home/student/join"] {
  display: none;
}

/* hide certain elements from mentors */
body.user-MENTOR .assignmentsTeachList-header th:nth-child(3),
body.user-MENTOR .assignmentsTeachList-header-dueDate,
body.user-MENTOR .assignmentsTeachList-header-releaseGrades,
body.user-MENTOR .assignmentsTeachList-header-dueDate,
body.user-MENTOR .assignmentsTeachListItem-cell.assignmentsTeachListItem-pin,
body.user-MENTOR .assignmentsTeachListItem-cell.assignmentsTeachListItem-dueDate,
body.user-MENTOR .assignmentsTeachListItem-cell.assignmentsTeachListItem-releaseGrades,
body.user-MENTOR .assignmentsTeachListItem-cell.assignmentsTeachListItem-settings,
body.user-MENTOR .teacherUnitsStudentListItem-column.teacherUnitsStudentListItem-grade,
body.user-MENTOR .teacherUnitsStudentListItem-column.teacherUnitsStudentListItem-points,
body.user-MENTOR .teacherUnitsStudentListItem-column.teacherUnitsStudentListItem-graded,
body.user-MENTOR .teacherUnitsStudentListItem-column.teacherUnitsStudentListItem-answered,
body.user-MENTOR .teacherUnitsStudentListItem-column.teacherUnitsStudentListItem-completed,
body.user-MENTOR .studentAssignmentsListItem-column.studentAssignmentsListItem-grade,
body.user-MENTOR .studentAssignmentsListItem-column.studentAssignmentsListItem-points,
body.user-MENTOR .studentAssignmentsListItem-column.studentAssignmentsListItem-graded,
body.user-MENTOR .studentAssignmentsListItem-column.studentAssignmentsListItem-answered,
body.user-MENTOR .plainLink.btn.assignmentHeader-actionsBtn,
body.user-MENTOR .unitHeader-actions,
body.user-MENTOR .teacherUnitsStudentListItem-column.teacherUnitsStudentListItem-actions li[role="menuitem"]:nth-child(3),
body.user-MENTOR .assignmentInfo-simpleTabber li[aria-label="Settings"] {
  display: none !important;
}

/* custom "Open Project" button */
.teacherUnitsStudentListItem-column {
  width: auto !important;
  margin-left: 10px !important;
}
.teacherUnitsStudentListItem .btn.open-project {
  white-space: nowrap !important;
  padding: 0 8px !important;
  cursor: pointer !important;
  color: #fff !important;
  background: #3574e3 !important;
  border: none !important;
}

/* fix custom script input box width */
.organizationTab-customScript .savePanel-div {
  max-width: 100%;
}
